body {
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
 
}
.main-content{
  margin: 40px 0;
}
/* saech field style  */
.search-field {
  border: none;
  border-radius: 50px;
  padding: 5px;
  outline: none;
}
.search-field:hover {
  outline: none;
  border: none;
}
.search-box {
  border: 1px solid rgb(3, 118, 211);
  width: 350px;
  border-radius: 5px;
  margin: auto;
  margin-top: 50px;
  border-right: none;
}
/* all product style */
#all-products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  width: 100%;
  margin: auto;
  align-items: center;
  justify-content: center;
  
}
#all-products i{
  color: #FD7E14;
}
#all-products .rating{
  display: flex;
  justify-content: space-evenly;
  font-style: italic;
}

.single-product {
  padding: 10px;
  transition: 0.6s;
}
.single-product:hover {
  box-shadow: 4px 4px 7px gray;
  border-radius: 10px;
  border: 0 3px 9px black, inset 0 7px 9px white;
}
.product-image {
  width: 150px;
  height: 150px;
}
.cart {
  width: 350px;
  padding: 10px;
  box-shadow: 10px 10px 20px gray;
  border-radius: 5px;
  margin-right: 30px;
  position: fixed;
}
.cart-main {
  padding-right: 30px;
}

/* single product style */
#single-product .single-product-detail{
  
  box-shadow: 4px 4px 7px gray;
  border-radius: 10px;
  border: 0 3px 9px black,
  inset 0 7px 9px white;
  padding: 20px;
   box-sizing: border-box; 
   text-align: center;
   margin-bottom: 30px;
} 
#single-product .rating {
  display: flex;
  justify-content: space-evenly;
  font-style: italic;
  color: #1196AB;
}
#single-product .single-product-detail h2{
  font-weight: 600;
}
#single-product .single-product-detail h3{
  font-weight: 600;
}
#single-product .single-product-detail .description{
  margin-top: 10px;
}

/* media quires here */
@media only screen and (max-width: 768px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .cart {
    width: 300px;
    /* border: 1px solid green; */
    padding: 10px;
    box-shadow: 10px 10px 20px gray;
    border-radius: 5px;
    margin-right: 30px;
    position: fixed;
  }
  .cart-main {
    padding-right: 10px;
  }
}
@media only screen and (max-width: 468px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
